*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    color: gray;
}
#login{
    width: 35%;
    height: 450px;
    margin: auto;
    /* border: 4px solid red; */
    text-align: center;
    margin-top: 70px;
    margin-bottom: 0px;
    padding: 10px;
}
#login p{
    font-size: 20px;
}
#first a{
    color: gray;
}

#create a{
    color: gray;
}
#Signup {
    /* color: gray; */
    margin-bottom: 30px;
}


#login h1{
    margin-bottom: 20px;
    font-size: 40px;
    color: black;
    font-weight: 500;
}
#login input{
    width: 100%;
    height: 50px;
    font-size: 20px;
    margin-top: 20px;
}
#login button{
    /* text-align: center; */
    margin-top: 30px;
    margin-bottom: 20px;
}
#login button{
    width: 240px;
    height: 45px;
    background-color: #475d4b;
    font-size: 18px;
    font-weight: bold;
    border-radius: 10px;
    color: white;
    border: none;
}
#first{
    /* text-align: left; */
    margin-top: 20px;
    text-align:left;
}
